.water-list {
  width: 100%;
  padding: 20px 14px;
  .water-list-column {
    flex: 1;
    padding: 0 6px;
    .water-list-item {
      // width: 100%;
      background-color: #fff;
      margin-bottom: 20px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, .12);
      padding: 10px;
      .pic {
        display: block;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 14px;
      }
      .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 8px;
      }
      .content {
        font-size: 14px;
        color: #222;
        line-height: 20px;
        height: 40px;
      }
    }
  }
  .water-list-column + .water-list-column {
    margin-left: 14px;
  }
}
.water-list.develop {
  outline: #13ce66 dashed 1px;
  .water-list-column {
    outline: #1890FF solid 1px;
    .water-list-item {
      outline: #fdd835 solid 1px;
    }
  }
}
.top {
  width: 100%;
  height: 80px;
  border-bottom: solid 1px #ddd;
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  .link {
    font-size: 14px;
    padding: 4px 12px;
    color: #13ce66;
  }
}

.group-move,
.group-enter-active,
.group-leave-active {
  transition: .8s all;
}

.group-enter-from,
.group-leave-to {
  opacity: 0;
  transform: translate3d(0px, 30px, 0);
}

.group-leave-active {
  position: absolute;
}