*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
body {
  font-family: 
  "微软雅黑",
  Inter,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
}

a, a:visited, a:focus, a:hover, a:link, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button, input {
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 0;
  font-size: inherit;
}

a, button {
  cursor: pointer;
}

ul, li, ol {
  list-style: none;
}

div:focus {
  outline: none;
}

/* flex布局 */
.flex { display: flex; flex-wrap: nowrap; }
.fwrap { display: flex; flex-wrap: wrap; }
.f1 { flex: 1; }
.f2 { flex: 2; }
.f3 { flex: 3; }
/* 垂直居中 */
.fvertical { display: flex; align-items: center; }
/* 水平居中 */
.fcenter { display: flex; justify-content: center; }
/* 水平 + 垂直居中 */
.fvc { display: flex; align-items: center; justify-content: center; }
/* 右对齐 */
.fright { display: flex; justify-content: flex-end; }
/* 两端对齐 */
.fbetween { display: flex; justify-content: space-between; }
/* 靠底部对齐 */
.fbottom { display: flex; align-items: flex-end; }


/* 溢出...显示 当前节点生效 */
.ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.ellipsis_1, .ellipsis_2, .ellipsis_3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* 溢出...显示 子节点生效 */
.ellipsis_1 { -webkit-line-clamp: 1; }
.ellipsis_2 { -webkit-line-clamp: 2; }
.ellipsis_3 { -webkit-line-clamp: 3; }

button {
  font-size: 14px;
  padding: 0px 15px;
  min-width: 88px;
  height: 36px;
  line-height: 1;
  border-radius: 2px;
  background-color: #fff;
  color: rgba(0,0,0,.87);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  transition: .2s;
  outline: none;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #1890FF;
  color: #fff;
  &:active {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2), 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12);
  }
  &:disabled {
    cursor: no-drop;
    opacity: 0.7;
  }
}
button + button {
  margin-left: 10px;
}
